@import 'typed';

#about,
#projects {
  padding-bottom: 10rem;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#contact,
#home {
  background-color: black;
}

#projects {
  background-color: #e8e8e8;
}

#contact {
  width: 100%;
  padding-bottom: 1rem;
}

#home {
  a {
    font-size: 24px;
  }
}

.highlights {
  color: #ff964f;
}

.footer-container {
  a {
    color: black;
  }
}

.underline {
  border-bottom: 1px solid black;
  min-width: 5rem;
  display: block;
  margin-bottom: 5rem;
}

.me-container {
  display: flex;
  justify-content: center;
  max-width: 30%;

  .me {
    img {
      width: 230px;
      height: auto;
      clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    }
  }
}

.socials-container {
  display: flex;
  justify-content: space-evenly;
  min-width: 20%;
  padding-bottom: 5rem;
  min-width: 40%;

  img {
    width: 90px;
    height: auto;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  img:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  flex-direction: row;
  justify-content: center;
}

.about-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .who {
    font-weight: bold;
    font-size: 22px;
    margin: 0;
  }
}

.projects-container {
  position: relative;
  left: -100%;
  transition: left 1s ease-in-out;
}

.projects-container.slide {
  left: 0;
}

.projects-container,
.contact-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-container {
  padding-bottom: 2rem;

  h1 {
    color: white;
  }

  .underline {
    border-bottom: 1px solid white;
  }
}

.contact-msg {
  color: #ff964f;
  padding-bottom: 1rem;
}

.return-arrow {
  color: #ff964f;
  font-size: 60px;
  cursor: pointer;
  text-decoration: none;
}

.arrow-container {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 75px;
}

.learn {
  color: #ff964f;
}

.skills {
  min-width: 55%;
  display: flex;
  flex-wrap: wrap;
  max-height: 1px; // to prevent huge spacing between skills
  justify-content: center;
}

.typed {
  color: white;
  font-size: 32px;
  @include typed(
    "Hello, I'm Justin Davis\. I'm a software engineer",
    (
      type: 0.1,
      pause-deleted: 1,
    ),
    (
      iterations: 1,
      caret-width: 2px,
      caret-space: 2px,
    )
  );
}

.learn {
  color: #ff964f;
}
