.underline-container {
  display: flex;
  justify-content: center;

  .underline {
    min-width: 5rem;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.project-container {
  position: relative;
  padding: 5px;

  img {
    width: 250px;
    height: auto;
  }

  img:not(:hover) {
    opacity: 1;
    transition: opacity 0.3s;
  }

  img:hover {
    transition: opacity 0.3s;
    opacity: 0;
  }
}

.project-info {
  position: absolute;
  top: 35%;
  left: 0;
  z-index: 1;
  opacity: 0;
  min-width: 100%;
}

.tech {
  color: #ff964f;
}

.project-container:hover img {
  opacity: 0;
}

.project-container:hover .project-info {
  opacity: 1;
  transition: opacity 0.3s;
}

.btn-container {
  padding-top: 2rem;
}
